@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MONSETA";
  src: url("./assets/fonts/Monesta-Light-DEMO.otf");
}
@font-face {
  font-family: "PaulThin";
  src: url("./assets/fonts/PaulGrotesk-Thin-Trail.otf");
}
@font-face {
  font-family: "PaulRegular";
  src: url("./assets/fonts/PaulGrotesk-Regular-Trail.otf");
}
@font-face {
  font-family: "PaulBold";
  src: url("./assets/fonts/PaulGrotesk-Bold-Trail.otf");
}

body {
  background: rgb(41, 37, 29);
  background: linear-gradient(
    171deg,
    rgba(41, 37, 29, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  );
  background-repeat: no-repeat;
}
